{% extends 'base.html' %}
{% block content %}
    <form action="/works/{{work.id}}" method="POST">
        <div>
            <label for="name">Title:</label>
            <input type="text" id="title" name="title" value="{{work.title}}" required autofocus>
        </div>
        <div>
            <label for="address">Artist:</label>
            <input type="text" id="artist" name="artist" value="{{work.artist}}" required>
        </div>
        <div>
            <label for="year">Year:</label>
            <input type="number" id="year" name="year" value="{{work.year}}" required>
        </div>
        <div>
            <label for="museum">Museum:</label>
            <select name="museum_id" id="museum">
                {% for museum in museums %}
                    <option value="{{museum.id}}"
                        {% if museum.id == work.museum.id %}
                            selected="selected"
                        {% endif %}>
                    {{ museum.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Submit updated details</button>
    </form>
{% endblock %}
